*{
    margin:0;
}
[data-dropdown-menu] ul{
    list-style: none;
     display:flex;
}
[data-dropdown-item]{
    position:relative;
}
[data-dropdown-item]>ul{
   display:none;
   position:absolute;
   left:-43px;
   top:40px;
}
[data-dropdown-menu] li{
    background: #8BC34A;
    font-family: arial;
    color: white;
    padding: 10px;
    margin: 2px;
    cursor: default;
    border-radius: 6px;

}
[data-dropdown-menu] li:hover
{
   box-shadow:  0px 0px 20px 1px rgba(3, 169, 244, 0.5);
}
[data-dropdown-item].active ul{
    display:flex;
    flex-direction: column;
    width:100%;
}
[data-dropdown-item].active li{
    background: #2196f3
}